.graph-container {
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
}
.bar-chart {
  padding: 1rem;
  border: 0.6px solid grey;
}
.pie-chart {
  padding: 1rem;
  border: 0.6px solid grey;

}
