.home-img-container img {
  width: 100%;
  height: 50vh;
}
.home-img-container h1 {
  position: absolute;
  top: 20%;
  left: 25%;
  color: white;
  font-weight: 800;
}
.home-data-container {
  background-color: #f9f9f9;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home-data-card {
  width: 250px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 12px;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.home-data-card span {
  width: 100%;
  text-align: center;
}
.feature-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.feature-card-container {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}
.feature-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
  /* transition: transform 0.1s ease, box-shadow 0.1s ease; */
}
.feature-card span {
  width: 100%;
  text-align: center;
}
/* .feature-card {
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */
/* .feature-card:active {
  transform: scale(0.96);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */
.updates-container {
  padding: 1rem;
}
.update-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.update-card {
  display: flex;
  gap: 1.5rem;
  padding: 1.3rem;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.update-img {
  width: 100px;
  height: 100px;
}
.update-img img {
  width: 100%;
  border-radius: 10px;
}
.update-card-detail {
  display: flex;
  gap: 12px;
  align-self: center;
}
