.billboard-container {
  display: flex;
}
.billboard-search {
  background-color: #f5f5f5;
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  display: flex;
}
.search-icon {
  font-size: 1.3rem;
  align-self: center;
  /* margin-bottom: 5px; */
}
.billboard-search-input {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1.1rem;
  /* background-color: #f5f5f5; */
}
.right-billboard {
  /* display: flex; */
  width: 90%;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
}
.billboard-right-top {
  width: 100%;
  margin: auto;
}
.billboard-mid {
  width: 300px;
  margin-top: 5rem;
  /* border: 1px solid black; */
  /* padding: 1rem; */

  border-radius: 20px;
  border-color: #82e517;
}
.inner-right-billboard {
  padding: 1rem;
}
.billboard-box {
  background-color: #82e517;
  border-radius: 20px;
  border-color: #82e517;
  padding: 1rem;
}
.billboard-mid h1 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.box-desc {
  text-align: left;
}
.details-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.billboard-card {
  width: 200px;
  padding: 1rem;
  cursor: pointer;
  /* border: 1px solid black; */
  background-color: #a9a9a9;
  border-radius: 20px;
  border-color: #a9a9a9;
}
.billboard-img {
  width: 100%;
}
.billboard-details {
  margin-top: 2.5rem;
}
.billboard-details h1 {
  margin: 1rem 0;
  /* padding: 1rem; */
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
}
.billboard-card p {
  text-align: left;
}
.box-top-icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.box-top-icon span {
  font-size: 1.5rem;
}
