* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.detailed-navbar {
  width: 100%;
  display: flex;
  /* border-bottom: 1px solid black; */
  background-color: #82e517;
  padding: 0;
}
.logo h1 {
  align-self: center;
}
.left-detailed-nav {
  width: 20%;
  /* border-right: 10px solid black; */
}

.right-detailed-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-left: 10px solid grey;
}
.right-nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.right-nav ul {
  width: 100%;
  list-style: none;
}
.right-nav ul li {
  display: flex;
  gap: 5px;
  align-self: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.search {
  background-color: #f5f5f5;
  width: 400px;
  height: 50px;
  padding: 0 8px;
  text-align: left;
  border-radius: 20px;
  display: flex;
}
.search-icon {
  font-size: 1.3rem;
  align-self: center;
}
input {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #f5f5f5;
}
.nav-icon {
  width: 20%;
  margin-left: 1.5rems;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.nav-icon ul {
  width: 100%;
  list-style: none;
}
.nav-icon ul li {
  align-self: center;
}
.nav-icon ul li span {
  font-size: 1.2rem;
  /* align-self: center; */
}
.dash-container {
  display: flex;
  justify-content: space-between;
}
/* .left-container{
    width: 20%;
    border:1px solid black;
} */
.detailed-logo {
  width: 30%;
  display: flex;
  align-items: center;
}
.detailed logo span {
  font-size: 1.1rem;
  font-weight: 600;
  align-self: center;
  margin-right: 10px;
}
.detailed-logo ul li {
  display: flex;
}

.profile {
  display: flex;
  /* gap: 10px; */
  margin: 0.8rem;
  background-color: gray;
  border-radius: 20px;
  padding: 10px;
}
.profile-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.profile-img-icon {
  align-self: center;
}
.settings ul {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.settings ul li {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 0.8rem;
}
.left-dash-container {
  width: 100%;
  background-color: #d5f4f9;
}
.upper-profile {
  height: 70vh;
  border-bottom: 1px solid black;
}
.bottom-profile {
  margin: 1.5rem;
}
.bottom-profile ul {
  display: flex;
  flex-direction: column;
}
.bottom-profile ul li {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 0.8rem;
}
.right-dash-container {
  width: 80%;
}
.inner-right-dash {
  width: 96%;
  margin: 1rem auto;
}
.head {
  padding: 1rem;
  text-align: left;
  font-size: 2rem;
  border-bottom: 0.8px solid black;
}
.filter-tab {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* border-bottom: 0.8px solid black; */
}
.left-filter {
  align-self: center;
}
.left-filter ul li {
  display: flex;
  gap: 5px;
}
.left-filter ul li span {
  padding-top: 4px;
}
.right-filter {
  width: 50%;
}
.right-filter ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.right-filter ul li {
  align-self: center;
}
.right-filter ul li button {
  width: 100px;
  padding: 10px 5px 10px 5px;
  background-color: aquamarine;
  border: none;
  /* border-color: aquamarine; */
  border-radius: 20px;
}
.inner-report {
  width: 75%;
  border-right: 0.8px solid black;
}
.upper-report {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 1.5rem;
}
.card {
  width: 180px;
  height: 200px;
  padding: 1rem;
  text-align: left;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #e0f4cb;
}
.card .image {
  width: 100%;
  height: 100px;
  background-color: gray;
  border-radius: 15px;
}
.card .image span {
  position: relative;
  font-size: 2rem;
  top: 40%;
  left: 40%;
}
.lower-report {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.lower-card-report {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 1.5rem;
}
.lower-head ul li {
  display: flex;
  gap: 5px;
  align-self: center;
}
.lower-head ul li span {
  padding-top: 5px;
}
.card-info ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-info ul li {
  display: flex;
  gap: 3px;
}
.card-info ul li span {
  padding-top: 3px;
}
.report-container {
  display: flex;
}
.inner-report-filter {
  width: 20%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.filter-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.filter-head ul li {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-self: center;
}
.filter-head ul li span {
  padding-top: 5px;
}
.cancel-icon {
  padding-top: 5px;
  align-self: center;
}
.upper-filter {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.upper-filter h4 {
  text-align: left;
  margin-bottom: 1.2rem;
}
.upper-filter ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.upper-filter ul li {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
  margin-bottom: 0.8rem;
}
.upper-filter ul li span {
  align-self: center;
}

.lower-filter h4 {
  text-align: left;
  margin-bottom: 1.2rem;
}
.lower-filter ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lower-filter ul li {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
  margin-bottom: 0.8rem;
}
.lower-filter ul li span {
  align-self: center;
}
.lower-card-report .card .card-info ul {
  margin-top: 1rem;
}
.lower-card-report .card .card-info ul li {
  gap: 5px;
}
.left-dash-content {
  width: 20%;
  background-color: #d5f4f9;
}
.submit-filter {
  display: flex;
  gap: 6px;
}
.submit-filter button {
  width: 200px;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 5px 10px 5px;
  background-color: aquamarine;
  border: none;
  border-radius: 20px;
}
