.report-details-navbar {
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav {
  display: flex;
  gap: 10px;
  margin-left: 1rem;
  padding: 8px;
}
.nav span {
  align-self: center;
}
.report-details-container {
  padding: 1rem;
}
.report-filter-sort {
  display: flex;
  justify-content: space-between;
}
.report-filter {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.location-filter {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.location-filter input {
  padding: 12px;
  border-radius: 20px;
}
.location-filter input::placeholder {
  font-size: 12px;
}
.date-filter {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.report-sort {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sort-filter {
  display: flex;
  justify-content: space-between;
}
.issue-category {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.report-category {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.date-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.report-btn-tab {
  display: flex;
  gap: 10px;
}
.report-btn-tab button {
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #00b0f0;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}
.report-dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.report-dashboard {
  width: 95%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}
.report-dash-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.video-dash-img {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.dash-img {
  width: 100%;
}
.dash-img img {
  width: 100%;
}
.back-btn {
  display: flex;
  justify-content: left;
  padding: 1rem;
}
.back-btn button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #00b0f0;
  font-size: 12px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
